{% extends 'base.html.twig' %}


{% set txt = (editMode) ? 'Modifier' : 'Ajouter' %}



{% block title %} {{txt}} une formation
{% endblock %}

{% block contenu %}

<h1>{{ txt }} une formation <span>{{formation}}</span></h1>

{{form(AddFormationType)}}

{% endblock %}


