{% extends 'base.html.twig' %}

{% block title %}Ajouter une formation{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Ajouter une formation</h1>

{{form(AddFormationType)}}

{% endblock %}


