{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Liste des formations</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nom de la formation</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  
{% for formation in formations %}

<tr>
    <td><a href="{{ path('formation_show', {'id':formation.id}) }}">{{ formation.nom }}</a></td>
    <td>{{ formation.descriptif|striptags|slice(0,50)|raw }} ...</td>
</tr>
{% endfor %}

  </tbody>
</table>

{% endblock %}

{# {{ string|striptags|slice(0, 55)|raw }} #}
