{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Liste des formations</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nom de la formation</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">place(s) restante</th>
    </tr>
  </thead>
  <tbody>
  
{% for formation in formations %}
{{dump(formation)}}
<tr>
    <th>{{formation.nom}}</th>
    <th>ouho</th>
    <th>ouho</th>
    <th>ouho</th>
    
{% endfor %}

  </tbody>
</table>

{% endblock %}

