*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: auto;
}

.padding{
    padding: 0.5em 15em!important;
}

.flex{
    display: flex;
    justify-content: space-between;
}

/*
* LOGO
*/
.logo{
    width: 150px;
}


/*
* NAVBAR
*/

.navbar {
    background-color: #073642 !important;
}

.navbar-nav{
    margin: auto;
}

/*
*Login form
*/

.login-form, .register-form{
    width: 25%;
    margin: auto;
}

/*
*Barre search
*/

.search {
    background-color: #01A89E;
}

/*
* Btn
*/
.btn-edit{
    margin-top: 0.3em;
    padding: 0.2em 1em;
}

.logout {
    margin-left: 1em;
}

.btn-primary {
    background-color: #01A89E !important;
    border: none;
}

.btn-warning {
    color: white;
}

.btn {
    justify-content: space-between;
    width: 30%;
}

.btn a {
    width: 33%;
}

/*
* User
*/

.user-info{
    width: 30%;
    margin: auto;
    border-radius: 5px;
}

.user-info i{
    cursor: pointer;
}

.user-info-top{
    align-items: center;
}

.user-avatar img{
    width: 60%;
    border-radius: 50%;
}

.h1-profil{
    text-align: center;
}
/*
* FORM EDIT USER
*/

.edit-content{
    display: none;
    border: 1px solid #b5b5b5;
    display: none;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    padding: 0.5em 5em;
    background: #073642;
    color: white;
    margin-bottom: 1em;
}

/*
* INSCRIPTION STAGIAIRE
*/

.inscr-content {
    display: none;
}


