*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: auto;
}

.content-module{
    width: 25%;
    margin: 2em auto;
}

.content h1{
    margin-bottom: 1em;
}

.content-module div:nth-child(2){
    margin-bottom: 2em;
}

.label{
    font-weight: 900;
}

.padding{
    padding: 0.5em 15em!important;
}

.flex{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

#gestionDurees{
    width: 70%;
    padding: 0 0 0 1.2em;
}

h4{
    font-weight: bold;
}

.table th{
    font-weight: 900!important;
    color: white;
}

/*
* ICON EDIT / DELETE
*/

.fa-trash-alt{
    color: red;
}

.fa-edit{
    color: #01A89E;
}

/*
* LOGO
*/
.logo{
    width: 150px;
}


/*
* NAVBAR
*/

.navbar {
    background-color: #073642 !important;
}

.navbar-nav{
    margin: auto;
}

/*
*Login form
*/

.login-form, .register-form{
    width: 25%;
    margin: auto;
}

/*
*Barre search
*/

.search {
    background-color: #01A89E;
}

/*
* Btn
*/

.btn-module{
    margin: 0em 0em 1em 0em;
}
.btn-edit{
    margin-top: 0.3em;
    padding: 0.2em 1em;
}

.logout {
    margin-left: 1em;
}

.btn-secondary{
    background: #01A89E!important;
    border: none;
}

.btn-outline-secondary{
    border-color: #01A89E;
    color: #01A89E;
    
}

.btn-outline-secondary:hover{
    background-color: #01A89E;
}

.btn-warning {
    color: white;
}

.btn {
    justify-content: space-between;
}

.btn a {
    width: 33%;
}

/*
* User
*/

.user-info{
    width: 30%;
    margin: auto;
    border-radius: 5px;
}

.user-info i{
    cursor: pointer;
}

.user-info-top{
    align-items: center;
}

.user-avatar img{
    width: 60%;
    border-radius: 50%;
}

.h1-profil{
    text-align: center;
}
/*
* FORM EDIT USER
*/

.edit-content{
    display: none;
    border: 1px solid #b5b5b5;
    display: none;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    padding: 0.5em 5em;
    background: #073642;
    color: white;
    margin-bottom: 1em;
}

/*
* INSCRIPTION STAGIAIRE
*/

.inscr-content {
    display: none;
}

/*
* DETAIL FORMATION
*/

.formation-content{
    margin-top: 2em;
}

.formation-detail{
    width: 100%;
}

.formation-desc{
    width: 50%;
}

figure{
    width: 40%;
}

.bg-card{
    color: white;
    background: linear-gradient(to right, #265f6d, #65cac4);
}

figure img{
    width: 100%;
}

.formation-content h1{
    text-align: center;
    background: linear-gradient(to right, #265f6d, #65cac4);
    padding: 0.2em;
    width: 56%;
    margin: auto;
    color: white;
    border-radius: 5px;
}

/*
* ADDFLASH
*/

.flash-success{
    color: lightseagreen !important;
}

.flash-notice{
    color: coral;
}

/*
* HOME-CONTENT
*/

.home-content{
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav{
    font-size: small;
}

.container-categorie {
    position: relative;
    width: 20%;
    margin-right: 4em;
    margin-bottom: 4em;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 3px 4px -2px #888888;
}
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: #01a89e;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    
  }
  
  .container-categorie:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    width: 100%;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-txt{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #01a89e;
    width: 100%;
    text-align: center;
    background: rgb(0,0,0,0.3);
    padding-top: 8px;
    border-radius: 5px;
   
  }

  .card-txt h6{
      font-weight: 900;
  }

  .text a{
    color: white;
    border: 1px solid white;
    font-size: 15px;
    text-decoration: none;
    padding: 0.2em 0.5em;
    font-weight: bold;
  }

  .text a:hover{
      border: 3px solid white;
      transition: 0.5s;
  }

  .home-h1{
    margin-left: 6em;
    margin-top: 2em;
    font-weight: bold;
    color: #073642;
  }

  /*
  * A PROPOS
  */

  .aPropos-content{
      justify-content: space-between;
  }

  .aPropos h2{
    background: #073642;
    color: white;
    padding: 0.2em;
    text-align: center;
    border-radius: 5px;
  }

  .aPropos-txt{
      width: 50%;
      padding-right: 20px;
  }

  .aPropos-txt p{
      text-align: justify;
  }

  .aPropos-img{
      width: 50%;
  }

  .aPropos-img img{
    width: 100%;
}