*{
    box-sizing: border-box;
}

body{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: auto;
}

.padding{
    padding: 0.5em 15em!important;
}

.flex{
    display: flex;
    justify-content: space-between;
}

/*
* LOGO
*/
.logo{
    width: 150px;
}


/*
* NAVBAR
*/

.navbar {
    background-color: #073642 !important;
}

.navbar-nav{
    margin: auto;
}

/*
*Login form
*/

.login-form, .register-form{
    width: 25%;
    margin: auto;
}

/*
*Barre search
*/

.search {
    background-color: #01A89E;
}

/*
* Btn logout
*/

.logout {
    margin-left: 1em;
}

/*
* User
*/

.user-info{
    width: 30%;
    margin: auto;
    border-radius: 5px;
}

.user-info i{
    cursor: pointer;
}

.user-info-top{
    align-items: center;
}

.user-avatar img{
    border-radius: 50%;
}

/*
* FORM EDIT USER
*/

.edit-content{
    display: none;
}