{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Ajouter une session</h1>

{{form(AddSessionType)}}

{% endblock %}


