{% extends 'base.html.twig' %}


{% set txt = (editMode) ? 'Modifier' : 'Ajouter' %}



{% block title %} {{txt}} une session
{% endblock %}

{% block contenu %}

<h1>{{ txt }} une session <span>{{session}}</span></h1>

{{form(AddSessionType)}}

{% endblock %}


