{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Liste des sessions</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nom de la formation</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">place(s) restante</th>
    </tr>
  </thead>
  <tbody>
  
{% for session in sessions %}

<tr>
    <td> {{session.contenir.nom }}</td>
    <td>{{session.dateDebut | date("d/m/Y") }}</td>
    <td>{{session.dateFin | date("d/m/Y") }}</td>
    <td>{{session.nbPlaces }}</td>
    
{% endfor %}

  </tbody>
</table>

{% endblock %}

