{% extends 'base.html.twig' %}


{% set txt = (editMode) ? 'Modifier' : 'Ajouter' %}



{% block title %} {{txt}} un module
{% endblock %}

{% block contenu %}

<h1>{{ txt }} un module <span>{{module}}</span></h1>

{{form(AddModuleType)}}

{% endblock %}


