{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Liste des modules</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nom du module</th>
      <th scope="col">descriptif</th>
    </tr>
  </thead>
  <tbody>
  
{% for module in modules %}

<tr>
    <td> {{module.nom }}</td>
    <td> {{module.descriptif }}</td>
   
    
{% endfor %}

  </tbody>
</table>

{% endblock %}

