{% extends 'base.html.twig' %}


{% set txt = (editMode) ? 'Modifier' : 'Ajouter' %}



{% block title %} {{txt}} une categorie
{% endblock %}

{% block contenu %}

<h1>{{ txt }} une categorie <span>{{categorie}}</span></h1>

{{form(AddCategorieType)}}

{% endblock %}


