{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}
{% block styleheets %}
{% endblock %}

{% block contenu %}

<h1>Liste des catégories</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Descriptif</th>
    </tr>
  </thead>
  <tbody>
  
{% for categorie in categories %}
<tr>
    <td>{{categorie.nom}}</td>
    <td>{{categorie.descriptif }}</td>
    <td><a href="{{ path('categorie_edit', {'id':categorie.id}) }}"><img src="https://img.icons8.com/cotton/64/000000/edit--v1.png"/></a></td>
    
{% endfor %}

  </tbody>
</table>

{% endblock %}

