{% extends 'base.html.twig' %}



{% block title %} Ajouter un user
{% endblock %}

{% block contenu %}

<h1>Ajouter un user <span>{{user}}</span></h1>

{{form(RegistrationFormType)}}

{% endblock %}


