{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe
{% endblock %}

{% block body %}
<h1 class="h1-profil">Modifier mon mot de passe</h1>
	<div class="user-info jumbotron">


		<div class="user-info-top flex">

		{{form(EditPasswordType)}}

		
	</div>


{% endblock %}
