{% extends 'base.html.twig' %}

{% block title %}Détail
	{{user.prenom ~' '~ user.nom}}
{% endblock %}

{% block body %}
<h1>Modifier votre email</h1>
	<div class="user-info jumbotron">

<p>OUHO</p>
	
	</div>


{% endblock %}
