{% extends 'base.html.twig' %}

{% block title %}Détail
	{{user.prenom ~' '~ user.nom}}
{% endblock %}

{% block body %}
<h1 class="h1-profil">Mon profil</h1>
	<div class="user-info jumbotron">


		<div class="user-info-top flex">

			<div class="user-avatar">
				<img src="https://e7.pngegg.com/pngimages/409/621/png-clipart-computer-icons-avatar-male-user-profile-others-logo-monochrome.png" alt="avatar">
				<i class="fas fa-pen"></i>
			</div>

			<div class="user-nom">
				<h2>{{user.prenom ~' '~ user.nom}}</h2>
			</div>
		</div>


		<div class="user-email flex">
			<div class="content">
				<h6>Email</h6>
					<p>{{user.email}}</p>
			</div>

			<i id="edit" class="fas fa-pen"></i>
		</div>

        <div class="edit-content">

        <p>Modifier votre email</p>
        {{form(EditUserType)}}

        <input class="btn btn-primary btn-edit" type="submit" value="valider">
        </form></div>

		<div class="user-role flex">
			<div class="content">
				<h6>Role</h6>
                <p>Admin</p>

			</div>
			<i class="fas fa-pen"></i>
			{# A mettre uniquement pour l'admin #}
		</div>

		<div class="user-password flex">
			<div class="content">
				<h6>Mot de passe</h6>
                <p>********</p>

			</div>
			<i class="fas fa-pen"></i>
		</div>
	</div>


{% endblock %}
